body,html {
margin:0;
padding:0;
/*background-color:pink;*/

}
body {
    overflow:hidden;
}
body.remote{
	overflow: auto;
}

#clientId{
	position:absolute;
}

.box{
	width: 200px;
	height: 200px;
	background-color: gray;
	margin:1em;
	float:left;
}
h6{
	font-size: 2em;
}
.aff{
	font-size: 10em;
	color:white;
	background-color: green;
}

/*.box{
	
	width: 70px;
	height: 70px;
	background-color: gray;
	margin:1em;
	float:left;
}
h6{
	margin:0;
	font-size: 1em;
}*/
.bar{

}
.bar > div{
	float:left;
}
.bar:after{
	content: '';
    display: block;
	clear:both;
}
#debug{
	top:0;
	position:absolute;
}
